* {
    margin: 0;
    background-color: #dcdcdc;
    color: #262626;
}
#the-header {
   opacity: 0.8;
}

#ul-links {
    display: flex;
}

#ul-links li {
   list-style-type: none;
   margin: 1.5vw;
}

#ul-links li a {
    text-decoration: none;
    font-size: 1.5vw;
}

#ul-links li a:hover {
    font-size: 1.7vw;
    font-family: fantasy;
}



.all-in-one {
    font-family: Arial;
     margin-left: 3vw;
     margin-top: 2.5vw;
}

.all-main-content {
     font-family: fantasy;
     color: #262626;
     opacity: 0.8;
     font-size: 2vw;
}

.info-about-me {
     color: #262626;
     opacity: 0.8;
     font-size: 2vw;
}

#main-span a {
    color: rgb(0, 187, 255);
    text-decoration: none;
}

#the-experience, #the-education {
    margin-bottom: 1vw;
}

#html-checker-img, #css-checker-img {
    width: 5vw;
}

